<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<script defer src="{{ url_for('static', path='main.js') }}"></script>
<body>
    <div class="container">
        <h1>Flights</h1>
        <div>
            <div class="table-row">
                <strong>id</strong>
                <strong>name</strong>
                <strong>status</strong>
            </div>
            {% for flight in flights %}
            <div class="table-row">
                <strong>{{ flight[0] }}</strong>
                <strong>{{ flight[1] }}</strong>
                <strong>{{ flight[2] }}</strong>
                <button data-flight-id="{{ flight[0] }}" class="launch-btn">Launch</button>
            </div>
            {% endfor %}    
        </div>
    </div>
</body>
</html>