* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-row {
    padding: 10px;
    border-bottom: 1px solid grey;
}

.table-row strong {
    font-size: 24px;
    padding: 0 30px;
}